/* Dashboard.module.css */
.dashboardContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.chartsContainer {
  flex: 2;
  margin-right: 5px;
}

  .chartsContainer > div {
    padding: 10px 20px;
  }

  .chartsContainer > div:nth-of-type(even) {
    background-color: #F4F2F0;
    border-radius: 5px;
  }

