/* Dashboard.module.css */
.dashboardContainer {
  display: flex;
  justify-content: space-between;
}


.chartsContainer {
  flex: 3;
  width: 500px;
  height: 350px;
  margin-right: 5px;
}

  .chartsContainer > div {
    padding: 10px 20px;
  }

  .chartsContainer > div:nth-of-type(even) {
    background-color: #F4F2F0;
  }

.configurationPanel {
  flex: 1;
  border-left: 1px solid #ddd;
}

