name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-android:
    # GitHub Actions doesn't have hardware acceleration in the ubuntu runner, because reasons
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        cache: true
    - name: Install Java
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: "12.x"
        cache: 'gradle'
    - name: Accept Android SDK licenses
      run: |
        yes | flutter doctor --android-licenses
    - name: Install flutter deps
      working-directory: norbit-mobileapp/flutter_application_1
      run: |
        flutter pub get
    - name: Run tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 33
        script: ./gradlew connectedCheck --stacktrace
    - name: Flutter information
      working-directory: norbit-mobileapp/flutter_application_1
      run: |
        flutter doctor

  build-ios:
    runs-on: macos-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        cache: true
    - name: Install flutter deps
      working-directory: norbit-mobileapp/flutter_application_1
      run: |
        flutter pub get
    - uses: futureware-tech/simulator-action@v2
      with:
        model: 'iPhone 13'
    - name: Flutter information
      working-directory: norbit-mobileapp/flutter_application_1
      run: |
        flutter doctor
    - name: Run tests
      working-directory: norbit-mobileapp/flutter_application_1
      run: |
        flutter test -d "iPhone 13"
